body {
  background-image: url('../public/background.jpg');
  background-size: cover;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: rgba(255,255,255,0.5);
  border-radius: 8px;
  margin: 10px;
  background-color: rgba(255,255,255,0.5);
  border-width: 0px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom:50px;
}

/* point of interest */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top:50px;
}
.jumbotron
{
  background: none;
}
.card {
  border-radius: 8px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.718);
  border-width: 0px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 345px; /* Optional: Adjust card width */
}

.card-header {
  font-weight: bold;
  font-size: 16px;
  background: none;
  border-width: 0px;
}

.card-body {
  font-size: 14px;
}

.card-text {
  margin-bottom: 4px;
}

/* CSS for feedback buttons */
.feedback-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 15px; 
}

.feedback-button:hover {
  background-color: #0056b3;
}

/* CSS for icons within buttons */
.icon {
  margin-right: 5px;
}
.feedback-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

/* CSS for button container */
.button-container {
  display: flex;
  margin-top: 30px; 
}

.probabilty-container{
  margin-top: 30px;

}

.probabilty-container h2 {
  font-size: 24px; 
  margin: 0; 
}

.probabilty-container p {
  margin: 0; 
}


/* CSS for weather container */
.weather-container {
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;

  
}

/* CSS for weather icon and content */
.weather-icon {
  display: block;
  align-items: center;
  height: auto;
  width: auto;
}

.weather-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  
}

.weather-container h2{
  font-size:  50px;
}

.weather-container h3{
  font-size:  35px;
}
.weather-container p{
  font-size:  25px;
}

.weather-icon h3{
  font-size:  35px;
}
.weather-icon img {
  width: 70px;
  height: auto;
  margin-bottom: 5px;
  margin-left: 10px;
}

/* CSS for form */
.form-container {
  margin-top: 20px; 
}
/* CSS for label */
.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block; 
}

/* CSS for form */
.form-container {
  margin-top: 20px; 
  display: flex; 
  align-items: center; 
}

/* CSS for input field */
.form-input {
  flex:1;
  width: 100%; 
  height: 40px;/* Makes the input take up the full width of its container */
  padding: 8px; /* Adds padding inside the input */
  border: 1px solid #ccc; /* Adds a border around the input */
  border-radius: 10px; /* Adds rounded corners to the input */
  margin-right: 10px; 
  box-sizing: border-box; /* Ensures padding and border are included in the input's total width */
}

.form-label {
  display: block; /* Ensures the label takes up the full width available */
/* Adds space below the label */
}

/* CSS for submit button */
.form-submit {
  margin-left: 10px; 
  height: 40px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  cursor: pointer; 
}

.form-submit:hover {
  background-color: #0056b3;
}
